:root {
     --custom-theme-mix-amount-base: 10% !important;

     --white-assent: rgba(255, 255, 255, 1) !important;
     --black-500-hsl: hsla(0, 0%, 0%, 0.5) !important;
     --primary-500-hsl: hsla(0, 0%, 0%, 0.5) !important;
     --primary-500: rgba(255, 255, 255, 0.15) !important;
     --primary-530: rgba(0, 0, 0, 0) !important;
     --primary-560: rgba(0, 0, 0, 0) !important;
     --primary-600: rgba(0, 0, 0, 0.15) !important;
     --primary-630: rgba(0, 0, 0, 0.5) !important;
     --primary-660: rgba(0, 0, 0, 0.7) !important;
     --primary-700: rgba(0, 0, 0, 0.25) !important;
     --primary-800: rgba(0, 0, 0, 0.75) !important;
     --primary-830: rgba(0, 0, 0, 0) !important;

     --background-tertiary: color-mix(in oklab,
               var(--primary-700) 5%,
               var(--custom-theme-mix-base, black) var(--custom-theme-mix-amount-base, 0%)) !important;
     --background-secondary: color-mix(in oklab,
               var(--primary-660) 0%,
               var(--custom-theme-mix-base, black) var(--custom-theme-mix-amount-base, 0%)) !important;
     --background-secondary-alt: color-mix(in oklab,
               var(--primary-660) 0%,
               var(--custom-theme-mix-base, black) var(--custom-theme-mix-amount-base, 0%)) !important;
     --background-primary: color-mix(in oklab,
               var(--primary-660) 5%,
               var(--custom-theme-mix-base, black) var(--custom-theme-mix-amount-base, 0%)) !important;
     --home-background: color-mix(in oklab,
               var(--plum-18) 0%,
               var(--custom-theme-mix-base, black) var(--custom-theme-mix-amount-base, 0%)) !important;
     --modal-background: color-mix(in oklab,
               var(--primary-630) 100%,
               var(--theme-base-color, black) var(--theme-base-color-amount, 0%)) !important;

     /* color of deviders */
     --background-modifier-accent: color-mix(in oklab,
               var(--white-assent) 15%,
               var(--custom-theme-mix-base, black) var(--custom-theme-mix-amount-base, 0%)) !important;
     
     /* color of hover overlays */
     --background-modifier-hover: color-mix(in oklab,
               var(--white-assent) 10%,
               var(--custom-theme-mix-base, black) var(--custom-theme-mix-amount-base, 0%)) !important;
}

.mainCard_a6d69a, /* make topic card bg darker */
.itemCard_f02fcf, /* make friend activity card bg darker */
.popout_e6af9c /* make new group dm popup bg darker */
{
     background: var(--background-secondary) !important;
}

.link_d8bfb3,/* make channel bg darker */
.callContainer_d880dc /* make call bg transparent */
{
     background: var(--primary-560) !important;
}

.form_a7d72e:before, /*remove chat input box shadow*/
.contentContainer_a56260, /* remove discover tab bg */
.container_a56260 /* remove discover tab bg */ { 
     background: none !important;
}

.contentContainer_a56260 /* remove discover tab bg */ {
     backdrop-filter: none !important;
}

.wrapper_ba23fe, /* remove emoji picker left column bg */
.wrapper_e06857, /* remove emoji picker header bg */
.inspector_c3120f, /* remove emoji picker bottom inspector bg */
.container_b56bbc, /* remove GIF picker bg */
.header_b56bbc /* remove GIF picker header bg */ {
     background-color: rgba(0, 0, 0, 0) !important;;
}


.outerWrapper_fe2299, /*make command list bg darker*/
.container_ac201b, /*make permissions list popup bg darker*/
.streamPreview_adbea6,  /*make stream preview popup bg darker*/
.barButtonBase_cf58b5, /*make 'youre viewing older messages' bg darker*/
.videoControls_f72aac, /*make video controls bg darker*/
.backdrop_accde0 /* make discover tab header bg darker */
{ 
     background:  color-mix(in oklab,
          var(--primary-660) 80%,
          var(--custom-theme-mix-base, black) var(--custom-theme-mix-amount-base, 0%)) !important;
}

.scroller_bf550a, /* remove border at the left side of activity list*/
.wrapper_cd82a7 /* remove borders for activity cards*/
{
     border: none;
}

.quickswitcher_f4e139 /* add border to quick switcher */
{
     border: 1px solid var(--background-modifier-accent);
}