:root {
     --theme-base-color-amount: 10%;
     --accent-color: var(--os-accent-color);
     --background-color: rgba(0, 0, 0, 0.05);

     --t005: rgba(0, 0, 0, 0.05);
     --t015: rgba(0, 0, 0, 0.15);
     --t030: rgba(0, 0, 0, 0.3);
     --t050: rgba(0, 0, 0, 0.5);
     --t075: rgba(0, 0, 0, 0.75);
     
     --bg-brand: var(--accent-color) !important;
     --brand-500: var(--accent-color) !important;

     /* primary color for the entire bg */
     --neutral-76: var(--background-color);

     /* secondary color like friend list and chat member list bg */
     --neutral-72: var(--t005);

     /* bg base low like input area and user control panel at the bottom left corner and chat text input bo*/
     --neutral-69: var(--t015);

     /* info cards, embedded and hover pop-up bg */
     --neutral-66: var(--t075);

     /* apps in this server cards bg */
     --neutral-65: var(--t075);

     /* card items like plugin and theme list bg */
     --neutral-79: var(--t050);

     /* floating cards like context menu and drop downs bg */
     --neutral-63: var(--t050);
     
     /* user popup */
     --neutral-92: var(--t075);
}

/* call and stage bg */
.callContainer_cb9592.theme-dark.images-dark,
.callContainer__722ff.theme-dark.images-dark,
.rowContainer__8a920,
.scroller__56ccd,
.participants__9c309,
.tileContainer__71eb2 {
     background-color: var(--t015) !important;
}

/* friend input box bg */
.addFriendInputWrapper__72ba7 {background-color: var(--t050);}

/* background color for app panel */
.container__927fc {background-color: var(--t075);}

/* message hover utility bar bg */
.message__5126c:hover .buttonsInner__5126c {background-color: var(--t050);}

/* now playing background bg */
.visual-refresh .panel__5dec7 {background-color: var(--t030);}