:root {
      --custom-theme-mix-amount-base: 10% !important;

      --black-500-hsl: hsla(0, 0%, 0%, 0.5) !important;
      --primary-500-hsl: hsla(0, 0%, 0%, 0.5) !important;
      --primary-500: rgba(255, 255, 255, 0.15) !important;
      --primary-530: rgba(0, 0, 0, 0) !important;
      --primary-560: rgba(0, 0, 0, 0) !important;
      --primary-600: rgba(0, 0, 0, 0.15) !important;
      --primary-630: rgba(0, 0, 0, 0.1) !important;
      --primary-660: rgba(0, 0, 0, 0.7) !important;
      --primary-700: rgba(0, 0, 0, 0) !important;
      --primary-800: rgba(0, 0, 0, 0.75) !important;
      --primary-830: rgba(0, 0, 0, 0) !important;

      --background-tertiary: color-mix(in oklab,
                  var(--primary-700) 5%,
                  var(--custom-theme-mix-base, black) var(--custom-theme-mix-amount-base, 0%)) !important;
      --background-secondary: color-mix(in oklab,
                  var(--primary-660) 5%,
                  var(--custom-theme-mix-base, black) var(--custom-theme-mix-amount-base, 0%)) !important;
      --background-secondary-alt: color-mix(in oklab,
                  var(--primary-660) 0%,
                  var(--custom-theme-mix-base, black) var(--custom-theme-mix-amount-base, 0%)) !important;
      --background-primary: color-mix(in oklab,
                  var(--primary-660) 5%,
                  var(--custom-theme-mix-base, black) var(--custom-theme-mix-amount-base, 0%)) !important;
      --home-background: color-mix(in oklab, var(--plum-18) 0%, var(--custom-theme-mix-base, black) var(--custom-theme-mix-amount-base, 0%));
}

.theme-dark .container__03ec9,
.theme-dark .header__71942 {
      background: (0, 0, 0, 0) !important;
}

.container_e664f3,
.contentWrapper_af5dbb,
.messagesPopoutWrap_ac90a2 {
      background-color: var(--primary-800) !important;
}
